{% block block_editor %}

<div class="rkcms-blocks-editor" data-bind="visible: showEditor">
    <div class="rkcms-blocks-editor-toolbar">
        <div class="pull-left rkcms-left-toolbar">
            {{ editor_toolbar.left|raw }}
        </div>
        <div class="btn-group pull-right rkcms-right-toolbar">
            {{ editor_toolbar.right|raw }}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="rkcms-editor-body">
        <pre class="rkcms-ace-editor"></pre>
    </div>
</div>

<!-- ko if: $data.mode() != 'inline' && !$data.isEditing() -->
<div class="rkcms-preview-toolbar">
    <div class="btn-group">
        {% include 'RedKiteCms/Resources/views/Editor/Toolbar/_preview_button.html.twig' %}
    </div>
</div>
<!-- /ko -->
{% endblock %}