<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="./tests/bootstrap.php"
        >
    <php>
        <server name="BASE_URL" value="http://redkite-labs.com" />
        <server name="REQUEST_URI" value="bar"/>
    </php>
    <testsuites>
        <testsuite name="RedKite CMS app test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./framework</directory>
            <exclude>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>