<a  data-bind="click: toggleEditor, 'attr': {'class': $data.isEditing() ? 'btn btn-default' : 'btn btn-danger'}, visible: toolbar.indexOf('preview') != -1 && $data.mode() != 'inline'" href="#">
    <i data-bind="{ 'attr': {'class': $data.isEditing() ? 'fa fa-eye' : 'fa fa-pencil' } }"></i>
</a>